@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {

    --Orange: #e77817;
    --Blue: #005198;
}

html {
    font-size: 62.50%;
}

body { font-family: 'Montserrat'; font-size: 1.6rem;}

h1 {

    color: var(--Blue);
    border-bottom: var(--Orange) 4px solid;
    font-size: 5.0rem!important;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 1;
}

h2 {

    color: var(--Blue);
    border-bottom: var(--Orange) 4px solid;
    font-size: 4.0rem!important;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
}

h4 {

    font-size: 2.2rem!important;
}

h5 {

    font-size: 2rem!important;
    font-weight: 500;
    color: var(--Orange);
}

p {

    color: var(--Blue);
    font-size: 1.7rem!important;
}

.recurse-single {

    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20rem;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.103);
    padding: 3rem;
    position: relative;

}

.recurse-single::before {

    position: absolute;
    content: '';
    left: 0;
    top: 0;
    border-bottom-right-radius: 50px;
    background-color: var(--Blue);
    width: 10%;
    height: 10%;
}

.recurse-single::after {

    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    border-top-left-radius: 50px;
    background-color: var(--Blue);
    width: 10%;
    height: 10%;
}

.recurse-single p {

    font-size: 1.7rem!important;
}

.spec-single {

    width: 35rem;
    height: 35rem;
    padding: 2rem;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.103);
    position: relative;
}

.spec-single::before {

    position: absolute;
    content: '';
    background-color: var(--Orange);
    width: 10%;
    height: 10%;
    border-bottom-right-radius: 50px;
    left: 0;
    top: 0;
}

.spec-single::after {

    position: absolute;
    content: '';
    background-color: var(--Orange);
    width: 10%;
    height: 10%;
    border-top-left-radius: 50px;
    right: 0;
    bottom: 0;
}

.spec-single h4 {

    color: var(--Orange);
    font-weight: 600;
}

.spec-single p {

    text-align: center;
    margin-block: 0.2rem;
    font-size: 1.7rem!important;
}

.btn-manual {

    display: flex;
    align-items: center;
    justify-content: center;
    width: 35rem;
    height: 5rem;
    background-color: var(--Orange);
    color: #FFF;
    font-size: 2.0rem;
    font-weight: 600;
    border-radius: 1rem;
    transition: 0.6s linear;

}

.btn-manual:hover {

    background-color: rgb(228, 97, 9);
}


@media screen and (max-width: 428px) {
    
    html {
        font-size: 45.50%;
    }

    .container {

        max-width: 90%;
    }
    
}